body {
  background-color: #74626e;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #74626e 1px, rgba(0, 0, 0, .4) 1px);
}

.content {
  text-align: left;
  overflow: visible;
  font-family: Montserrat, sans-serif;
  color: #e5d7bc;
}

.type-one {
  letter-spacing: 3px;
}

.f-1 {
  color: #e5d7bc;
}

.f-3 {
  color: #a09387;
}

.f-4 {
  color: #897d76;
}

.f-5 {
  color: #726664;
}

.f-6 {
  color: #5b5053;
}

.type-two {
  opacity: .7;
}

.area-text {

  position: relative;
  z-index: 2;
}

.script {
  position: absolute;
  top: 4em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  overflow: visible;
  font-family: Parisienne, cursive;
  color: #b68487;
  opacity: .3;
}

.op {
  opacity: .5;
}

.source {
  color: #dfb09e;
}

.source p {
  border: 1px solid #b68487;
}

@media only screen and (min-width: 38em) {

  .type-one {
    letter-spacing: 6px;
  }

  .script {
    top: 6em;
    letter-spacing: 10px;
  }

}

@media only screen and (min-width: 60em) {

  .type-one {
    letter-spacing: 9px;
  }

}
