body {
  background-color: #74626e;
  background: repeating-linear-gradient(
  90deg,
  #6e5b67,
  #6e5b67 1px,
  #74626e 1px,
  #74626e 15px);
}

.content {
  text-align: left;
  overflow: visible;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #e5d7bc;
}

.type-two {
  font-size: .5em;
  opacity: .7;
  color: #fff;
}

.type-three {
  font-weight: 200;
  color: #fff;
}

.type-four {
  font-size: .8em;
}

.area-text {
  margin: 5rem 0 2rem 0;
  padding-top: 5rem;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.script {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5.5em;
  z-index: 1;
  overflow: visible;
  font-family: "Parisienne", cursive;
  color: #b68487;
  opacity: .3;
}

hr {
  border: 1px solid #e5d7bc;
  opacity: .5;
  display: none;
}

.source {
  text-transform: uppercase;
  color: #dfb09e;
  font-size: .6rem;
  padding-top: 6rem;
}

.source p {
  border: 1px solid #b68487;
  padding: .3rem;
}

.stripes {

}
