body {
  background-color: #74626e;
}

.content {
  text-align: left;
  overflow: visible;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #e5d7bc;
}

.type-one {
  letter-spacing: 9px;
}

.type-two {
  font-size: .6em;
  opacity: .7;
}

.type-three {
  font-weight: 200;
}

.type-four {
  font-size: .8em;
}

.area-text {
  margin: 5rem 0 2rem 0;
  padding-top: 5rem;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.script {
  position: absolute;
  top: 4rem;
  left: 5rem;
  font-size: 6em;
  z-index: 1;
  overflow: visible;
  font-family: "Parisienne", cursive;
  color: #b68487;
  opacity: .4;
}

hr {
  border: 1px solid #e5d7bc;
  opacity: .5;
}
